
<a class="component-item__a" href="@Href" style="@Style">
    <div class="component-item__image @(Restricted ? "component-item--restricted" : "")" style="background-image:url('@ImageUrl');" />
    @if (!string.IsNullOrEmpty(SubImageUrl))
    {
        <div class="component-item__subimage @(IsTonieSubImage ? "component-item--tonie" : "")" style="background-image:url('@SubImageUrl')"></div>
    }
    @if (!string.IsNullOrEmpty(SubLeftImageUrl))
    {
        <div class="component-item__subleftimage" style="background-image:url('@SubLeftImageUrl')"></div>
    }
    @if (!string.IsNullOrEmpty(RibbonText))
    {
        <div class="ribbon ribbon-top-right"><span>@RibbonText</span></div>
    }
</a>

@code {

    [Parameter] public string Href { get; set; }

    [Parameter] public string ImageUrl { get; set; }

    [Parameter] public string SubImageUrl { get; set; }

    [Parameter] public bool IsTonieSubImage { get; set; }

    [Parameter] public string Style { get; set; }

    [Parameter] public bool Restricted { get; set; }

    [Parameter] public string SubLeftImageUrl { get; set; }

    [Parameter] public string RibbonText { get; set; }
}