
@if (Items != null)
{
    <div class="grid">
        @foreach (var item in Items)
        {
            <a class="item @(RestrictWidth ? "restrict" : "")" href="@item.Url">
                <div class="cover" style="background-image:url('@item.CoverUrl')">
                    @if (!string.IsNullOrEmpty(item.SubCoverUrl))
                    {
                        <div class="subcover @item.SubCoverClass" style="background-image:url('@item.SubCoverUrl')"></div>
                    }
                </div>
                <span>@item.Name</span>
            </a>

        }
    </div>
}

@code {

    [Parameter] public IEnumerable<GridItem> Items { get; set; }

    [Parameter] public bool RestrictWidth { get; set; }



}