
@if (Items != null)
{
    <div class="component-grid">
        @foreach (var item in Items)
        {
            <Item 
                  Href="@item.Url"
                  ImageUrl="@item.ImageUrl" 
                  SubImageUrl="@item.SubImageUrl"
                  IsTonieSubImage="@item.IsTonieSubImage"
                  Restricted="item.Restricted"
                  Style="@(RestrictItemWidth ? "max-width: 293px;" : "")" />
        }
    </div>
}

@code {

    [Parameter] public IEnumerable<GridItem> Items { get; set; }

    [Parameter] public bool RestrictItemWidth { get; set; }

}