
<a class="item @(RestrictWidth ? "restrict" : "")" href="@Value.Url">
    <div class="cover" style="background-image:url('@Value.CoverUrl')">
        @if (!string.IsNullOrEmpty(Value.SubCoverUrl))
        {
            <div class="subcover @Value.SubCoverClass" style="background-image:url('@Value.SubCoverUrl')"></div>
        }
    </div>
    <span>@Value.Name</span>
</a>

@code {

    [Parameter] public TonieCreativeManager.Ui.Model.Item Value { get; set; }

    [Parameter] public bool RestrictWidth { get; set; }

}